.login_signonMains {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e8f4fc;
}

#loginLogo {
  background-image: url("../assets/login/Icon.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 5rem;
  height: 5rem;
}
.login_signonMains section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: auto;
  padding: 1rem;
  border-radius: 1rem;

  background-color: white;

  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

.login_signonMains section form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}
.login_signonMains section form div {
    display: flex;
    flex-direction: column;
}
.login_signonMains section form input {
  width: 100%;
  padding: .25rem;

  border-radius: 1rem;
  border: 0.125rem solid #cddbe4;
  background-color: #f8fbfc;

  font-size: 1.5rem;

  outline: none;
}

.login_signonMains section form button {
  background: linear-gradient(20deg, #1b78bb, #25a5d0);

  border: none;

  width: 100%;

  color: white;
  padding: 0.5rem;

  border-radius: 0.5rem;

  font-weight: bold;
}
